/* Override swaync’s default translucent backgrounds */
.control-center,
.notification {
    background-color: #111111;
    opacity: 1.0;
}

/* Font color */
.control-center,
.notification {
    color: #F7F7F7;
}

/* Icons */
.control-center image,
.notification image,
.control-center .image,
.notification .image,
.control-center .notification-icon,
.notification .notification-icon,
.control-center .app-icon,
.notification .app-icon {
    color: #4F5258;
}

/* Rounded notification boxes inside swaync control center */
.control-center .notification-row .notification-background,
.control-center .notification,
.control-center .notification-content {
    border-radius: 20px;
}

