[Desktop Entry]
Type=Service
MimeType=inode/directory;
Actions=01_admin;02_zed;03_gdu;
X-KDE-Submenu=Tools

[Desktop Action 01_admin]
Name=Open Directory as Admin
Exec=dolphin admin://%f
Icon=system-run

[Desktop Action 02_zed]
Name=Open IDE here
Icon=code-context
Exec=zed -n %f

[Desktop Action 03_gdu]
Name=Scan with gdu
Icon=document-scan
Exec=foot --working-directory=%f gdu
